html, body {
    background-image: linear-gradient( #0100ec, #fb36f4);
    height: 100%;
}
body {
    color: rgb(157, 180, 197);
    text-align: center;
    border-left-style: solid;
    border-left-width: 90px;
    border-right-style: solid;
    border-right-width: 90px;
    border-color: rgb(44, 34, 46);
}
h1 {
    font-family: 'Kaushan Script', cursive;
    font-size: 80px;
    text-decoration: underline;
    text-shadow: 0 0 10px rgb(231, 33, 215), 0 0 5px #0000FF;
}
p {
    font-family: 'Mali', cursive;
    font-size: 30px;
    color: rgb(245, 245, 122);
    text-shadow: 0 0 10px rgb(245, 232, 52), 0 0 5px rgb(55, 55, 83);
}
.img-fluid {
    height: 38%;
    width: 60%;
}
alert {
    background: rgb(245, 245, 122);
}


/* You've been lost in an endless forest for days...

If you don't find help soon your bones with soon ornament the earth

"You stumble into a clearing and are met with a"

Bright as the sun's demise... */

font-family: 'Mali', cursive;
font-family: 'Kaushan Script', cursive;
